.ProjectImg{
    width: 100%!important;
    height: 700px!important;
    border: 2px saddlebrown solid;
}

@media screen and (max-width: 480px) {


    .ProjectImg{
        width: 100%!important;
        height: 500px!important;
        border: 2px saddlebrown solid;
        padding: 0!important;
    }

}